.gamesListContainer{
    
}
.gamesList{
    list-style: none;
    align-items: left;
}

.gamesListEntry{
    text-align: left;
    background-color: var(--theme-bg-2);
    display: flex;
    margin: 8px;
    padding: 8px;
    width: 90vw;
    max-width: 1200px;
    min-width: 320px;
    height: 120px;
    overflow: hidden;
    position: relative;
}
