.gamesListContainer{
    
}
.gamesList{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: left;

}
.gamesListEntry{
    text-align: left;
    background-color: #112a;
    display: flex;
    margin: 12px;
    border-radius: 10px;
    overflow: hidden;
}
